
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

// Primary Colors
$primary-color: hsl(259, 100%, 65%);
$light-red-color: hsl(0, 100%, 67%);

// Neutral Colors
$white-color: hsl(0, 0%, 100%);
$off-white-color: hsl(0, 0%, 94%);
$light-grey-color: hsl(0, 0%, 86%);
$smokey-grey-color: hsl(0, 1%, 44%);
$off-black-color: hsl(0, 0%, 8%);

// Typography
$body-copy-font-size: 32px;

// Fonts
$font-family: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
